#banner
  .container
    .row
      .span12
        %h1
          =image_tag "logo_arabic.png"
        .mockups
          %img.left{:src => "/assets/alex.png"}
          .bubbles.hide
            %img.bubble-left{:src => "/assets/bubble-left.png"}
            %img.bubble-right{:src => "/assets/bubble-right.png"}
          %img.right{:src => "/assets/ramsey.png"}
#hero
  .container
    .row
      .span7
        %h2 Connect with mentors
        %h2.subheading Professional advice, from anywhere in the world.
      .span4.offset1
        = link_to "/auth/facebook" do
          .large-button
            %img.fb{:src => "/assets/fb.png"}
            Login with Facebook
          
    .row.credits
      .span12
        %p.credits Developed for the NYU Abu Dhabi International Hackathon for Social Good in the Arab World (Feb 22 - Feb 24, 2013) by Seth Thompson, Alexandra Qin, Omar Omran and Geoffrey Litt, with mentorship from Ramsey Nasser and Max Stoller.