#banner
  .container
    .row
      .span12
        %h1 TakeFlight
#hero
  .container
    .row
      .span7
        %h2 Connect with mentors
        %h3 Professional advice, from anywhere in the world.
        %p Connec
      .span4.offset1
        = link_to "LOGIN!", "/auth/facebook"