.container
  .row
    .span12
      .stream_container#mentor_container
        %h2 Mentor
        .stream.big#mentor_stream
      .stream_container#translator_container
        %h2 Translator
        .stream.small#translator_stream
      .stream_container#mentee_container
        %h2 Mentee
        .stream.big#mentee_stream

:javascript
  var opentok_api_key = "#{@api_key}";
  var opentok_session_id = "#{@session_id}";
  var opentok_token = "#{@token}";
  var user_role = "#{@user_role}"