
:javascript
  var opentok_api_key = "#{@api_key}";
  var opentok_session_id = "#{@session_id}";
  var opentok_token = "#{@token}";

  TB.addEventListener("exception", exceptionHandler);
  var session = TB.initSession(opentok_session_id); // Replace with your own session ID. See https://dashboard.tokbox.com/projects
  session.addEventListener("sessionConnected", sessionConnectedHandler);
  session.addEventListener("streamCreated", streamCreatedHandler);
  session.connect(opentok_api_key, opentok_token); // Replace with your API key and token. See https://dashboard.tokbox.com/projects
                                           // and https://dashboard.tokbox.com/projects

  function sessionConnectedHandler(event) {
     subscribeToStreams(event.streams);
     session.publish();
  }
  
  function streamCreatedHandler(event) {
    subscribeToStreams(event.streams);
  }
  
  function subscribeToStreams(streams) {
    for (i = 0; i < streams.length; i++) {
      var stream = streams[i];
      if (stream.connection.connectionId != session.connection.connectionId) {
        session.subscribe(stream);
      }
    }
  }
  
  function exceptionHandler(event) {
    alert("Exception: " + event.code + "::" + event.message);
  }