#banner {
  background: url('header-background.jpg') center 0 repeat-x;
  height: 300px;
  h1 {
    padding-top: 20px;
    text-align: center;
    color: #3e495d;
  }
}

#hero {
  border-top: 4px solid #e3e3e3;
  height: 300px;
  padding: 20px 0;
}