// Place all the styles related to the VideoSession controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video_box{
  position: relative;

  .stream_container{
    position: absolute;
    margin: 0;

    &.big{
      &#mentor_container{
        top: 100px;
        left: 0px;
      }

      &#mentee_container{
        top: 100px;
        left: 400px;
      }

      .stream{
        width: 400px;
        height: 300px;
      }

    }

    &.small{

      &#translator_container{
        z-index: 5;

        top: 360px;
        left: 330px;
      }

      .stream{
        width: 150px;
        height: 100px;
      }
    }
  }

  .stream{
    border: solid thin red;

  }
}
