// Place all the styles related to the VideoSession controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.name{
  font-size: 16px;
  margin: 5px;
  line-height: 1.5em;
}

h2.role{
  font-size: 12px;
  text-transform: uppercase;
  margin: 5px;
  line-height: 1.5em;
}


.video_box{
  position: relative;

  .stream_container{
    position: absolute;
    margin: 0;

    &.big{
      &#mentor_container{
        top: 100px;
        left: 0px;
      }

      &#mentee_container{
        top: 100px;
        left: 500px;
      }

      .stream{
        width: 450px;
        height: 300px;
      }

    }

    &.small{

      &#translator_container{
        display: none;
        z-index: 5;

        top: 400px;
        left: 400px;
      }

      .stream{
        width: 150px;
        height: 100px;
      }
    }
  }

  .stream{
    border: solid thin red;

  }
}
