h2 {
  font-size: 24px;
}

.alert {
  border: none;
}

body {
  font-family: 'Lato';
}

#main {
  border-top: 4px solid #e3e3e3;
  padding: 20px 0;

  h2 {
    margin-top: 0;
  }
}

h2, h3 {
  text-transform: uppercase;
}

#main .subheading {
  margin-left: 20px;
}

#hero h2 {
  line-height: 32px;
  margin: 0;
  &.subheading {
    margin-bottom: 10px;
  }
}

.subheading {
  text-transform: none;
  color: gray;
  font-size:  17px;
}

.mentorbox {
  margin-bottom: 30px;
  height: 120px;
  border-radius: 5px;
  overflow: hidden;
  background: #f8f8f8;

  h3 { 
    font-size: 20px;
    line-height: 24px;
    color: #3e495d;
    a, a:visited, a:hover, a:active {
      color: inherit;
      text-decoration: none;
    }
  }

  .attributes {
    color: gray;
    .icon-bullhorn {
      margin-left: 20px;
    }
    i {
      margin-right: 10px;
    }
  }
  

  .profile {
    max-width: 120px;
    float: left;
  }
  .info {
    float: left;
    margin-left: 20px;
  }
}

.meetingsbox {
  background: #3b3e42;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;

  form {
    margin: 0;
  }

  a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }

  h2 {
    margin: 0;
    font-size: 20px;
    color: white;
  }

  .title {
    background: #202122;
    padding: 0 20px;
  }

  .mcontent {
    padding: 0 20px;
  }

  .mitem {
    h4 {
      color: #7b7c7f;
      font-size: 16px;
      .highlight {
        color: lightgray;
      }
    }
    padding: 15px 0;
  }

  .mprofile {
    color: white;
    margin-bottom: 10px;
    .type {
      color: lightgray;
    }
  }
}

input.button {
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: 900;
  background: #3e495d;
  border-radius: 3px;
  padding: 10px 20px;
}

.joinbutton{
  background: white;
  padding: 5px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  width: 35px;
}

.showprofile .mentorbox {
  height: 250px;
  .profile {
    max-width: 250px;
  }
  .info {
    margin-left: 40px;
  }
  h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .attributes {
    font-size: 15px;
    font-weight: 900;
  }

  .skills {
    display: inline;
  }

  .skillitem {
    font-size: 14px;
  }

}

.skills {
  margin-top: 20px;
}

.skillitem {
  display: inline;
  background: darkgray;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
}

.mentor-link {
  background: #3e495d;
  padding: 4px 8px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 30px;
}

.timebox {
  background: #f8f8f8;
  margin-right: 20px;
  border-radius: 5px;
  float: left;
  padding: 0 20px;
  width: 410px;
  margin-bottom: 5px;
}

.mid {
  color: gray;
}

.gray {
  background: lightgray;
}